main {
    background-color: var(--blue);
    height: 92vh;
}
iframe {
    border: 0;
}
#map {
    padding: 20px 0;
    text-align: center;
}
section {
    display: flex;
    flex-direction: column wrap;
    justify-content: space-evenly;
    padding: 20px 0;
}
.icon h3, .icon a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: none;
    padding-top: 10px;
    font-size: 1rem;
}
.icon {
    text-align: center;
    font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
    iframe {
        width: auto;
    }
    .icon h3, .icon a {
        font-size: 0.8rem;
    }
    section {
        padding: 5px 0;
    }
}