/* blue background */
main {
    height: 92vh;
    background-image: url('../img/stripe.png');
}
/* default google embed style */
iframe {
    border: 0;
}
/* map is centered */
#map {
    padding: 20px 0;
    text-align: center;
}
/* section of icons is spread evenly using flexbox */
section {
    display: flex;
    flex-direction: column wrap;
    justify-content: space-evenly;
    padding: 20px 0;
}
/* sans-serif texts */
.icon h3, .icon a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: none;
    padding-top: 10px;
    font-size: 1rem;
}
/* icons are larger */
.icon {
    text-align: center;
    font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
    /* smaller iframe width */
    iframe {
        width: auto;
    }
    /* smaller everything */
    .icon h3, .icon a {
        font-size: 0.8rem;
    }
    section {
        padding: 5px 0;
    }
}