/* main content grid 2 col * 3 rows */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3;
}

/* mission section top right with everything centered, blue bg*/
#mission {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 5vw;
    background-color: var(--blue);
}
/* bold underlined emphasis text */
.emphasis {
    font-weight: 700;
    text-decoration: underline;
}
/* product section top left same height as mission statement, everything centered, pink bg*/
#product {
    grid-column: 2 / span 1;
    grid-row: 1 / 2;
    height: 92.5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--pink);
}
/* featured section on the bottom row*/
#featured {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

/* media queries */
@media only screen and (max-width: 800px) {
    /* change to 1 column layout */
    #mission {
        grid-column: 1 / -1;
    }
    #product {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
    #featured {
        grid-row: 3 / 4;
        padding-bottom: 20px;
    }
    .price {
        margin-bottom: 20px;
    }
}