/* flexbox to make filters space evenly */
#filters {
    display: flex;
    justify-content: space-evenly;
    padding: 3vh 25px;
    flex-flow: row wrap;
}
/* individual filter has spacious padding and indicates its clickable */
#filters li {
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--grey);
    cursor: pointer;
}
/* bg color for selected filter */
.selected {
    background-color: var(--darkPink);
}
/* adjusting the figcaption font sizes */
.name {
    font-size: 1.1rem;
}
.price {
    font-size: 0.9rem;
}
/* product flexbox 4 col */
section {
    padding: 40px 4vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    background-color: var(--darkPink);
}
/* images with subtle pink background */
img {
    background-color: var(--pink);
}
/* media queries */
@media only screen and (max-width: 1150px) {
    /* shrink to 3 col */
    section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 850px) {
    /* 2 col */
    section {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 650px) {
    /* smaller white spaces */
    section {
        padding: 20px 0;
        grid-column-gap: 0;
        grid-row-gap: 20px;
    }
    #filters {
        padding: 10px;
    }
    #filters li {
        font-size: 0.6rem;
        font-weight: 400;
        padding: 5px 15px;
    }
    .small {
        height: 150px;
        width: 150px;
    }
}
@media only screen and (max-width: 450px) {
    /* smaller white spaces and font sizes */
    #filters {
        padding: 10px;
    }
    #filters li {
        padding: 5px;
    }
    .name {
        font-size: 0.9rem;
        margin: 7px 0;
    }
    .price {
        font-size: 0.8rem;
    }
}