#filters {
    display: flex;
    justify-content: space-evenly;
    padding: 3vh 25px;
    flex-flow: row wrap;
}
#filters li {
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--grey);
    cursor: pointer;
}
.selected {
    background-color: var(--darkPink);
}
.name {
    font-size: 1.1rem;
}
.price {
    font-size: 0.9rem;
}
/* product flexbox */
section {
    padding: 40px 4vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    background-color: #F1E3D8;
}
img {
    background-color: #F7F0EA;
    border-color: #F7F0EA;
}
/* media queries */
@media only screen and (max-width: 1150px) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 850px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 650px) {
    section {
        padding: 20px 0;
        grid-column-gap: 0;
        grid-row-gap: 20px;
    }
    #filters {
        padding: 10px;
    }
    #filters li {
        font-size: 0.6rem;
        font-weight: 400;
        padding: 5px 15px;
    }
    .small {
        height: 150px;
        width: 150px;
    }
}
@media only screen and (max-width: 450px) {
    #filters {
        padding: 10px;
    }
    #filters li {
        padding: 5px;
    }
    .name {
        font-size: 0.9rem;
        margin: 7px 0;
    }
    .price {
        font-size: 0.8rem;
    }
}